body{
    height: 100%;
}

input[type="number"] {
    width: 40px;
  }


.topnav {
    background-color: lightblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.product-container{
    display: flex;
    flex-wrap: wrap;

    min-height: 100%;

    border: #000000 solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 100px;
}

.cart-items-container{
    display: flex;
    flex-wrap: wrap;

    border: #000000 solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.divs{
    margin-left: 10px;
    min-height: 200px;
    min-width: 200px;
}

.front{
    margin-top: 405px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
}
.back{
    margin-top: 650px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
}

.social-icon{
    font-size: 2rem;
    color: black;
    margin: 0 0.625rem;
    display: inline-block;
    transition: 0, 5s;
}

footer .social-icon a:hover {
    transform: translateY(-0.625);
    color: rgb(192, 12, 12);
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: auto;
}

div{
    border: solid 2px black;
    margin: 1px;
    padding: 5px;
}
